// app global css in SCSS form

.dialog-width {
  width: 33vw;
  min-width: 360px;
  max-width: 750px;
}

.large-dialog-width {
  width: 66vw;
  min-width: 800px;
  max-width: 1600px;
}

.sticky-tabs {
  position: sticky;
  top: 0;
  z-index: 1;
}
